body {
	background: url('../assets/bg.jpg');
	background-repeat: repeat-x repeat-y;
	font-family: arial;
	/* font-weight: bold; */
}

/* Page body */
.bodyContainer {
	width: 85%;
	margin: auto;
}

/* Main content flex box */
.bodyMain {
	background-color: #EFEFEF;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

/* Name section */
.header {
	order: 1;
	background-color: #D4D4D4;
	padding-top: 50px;
	padding-bottom: 50px;
}
.headItems {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.photo {
	width: 100px;
	height: 100px;
	background-color: black;
	margin-right: 50px;
	border-radius: 50px;
}

/* Name text */
.name {
	text-align: center;
	font-size: 3em;
	color: black;
}

.projectHeader {
	order: 2;
	margin: auto;
	margin-top: 50px;
}

/* Body content flex box */
.bodyContent {
	order: 10;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
	justify-content: space-around;
	align-items: baseline;
}

.item {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	margin: 25px;
	flex-wrap: wrap;
	width: 300px;
	justify-content: center;
}

.itemImg {
	font-size: 2em;
	flex-wrap: wrap;
	width: 300px;
	margin: auto;
}
.itemText {
	flex-grow: 1;
	align-self: center;
	font-size: 14px;
}

@media screen and (max-width: 800px) {
	.header {
		color:  #19BA11;
		font-size: 
	}
	.headItems {
		flex-direction: column;
	}
	.photo {
		margin: auto;
		margin-top: 25px;
	}
	.main {
		flex-direction: column;
	}
	.body {
		width: 80%;
	}	
	.item1, .item2, .item3 {
		flex-direction: column;
	}
	.itemImg {
		/* width:  100%; */
	}
	.itemText {
		flex-grow: 1;
		align-self: center;
		font-size: 12px;
		text-align: center;
	}
}